<div class="container">{{ process.title }}</div>

<div class="title">{{ process.title }}</div>

<div *ngIf="process.inputs" class="inputs">
  <span *ngFor="let input of process.inputs" class="input" [matTooltip]="input.title" matTooltipPosition="above" matTooltipShowDelay="200"
    [style.border-color]="getParameterColor(input.type)"></span>
</div>

<div *ngIf="process.outputs" class="outputs">
  <span *ngFor="let output of process.outputs" class="output" [matTooltip]="output.title" matTooltipPosition="below" matTooltipShowDelay="200"
    [style.background]="getParameterColor(output.type)"></span>
</div>