Bokeh~=3.0.2
django~=3.2.17
django_crontab>=0.7.1
django-cors-headers>=3.2.1
django-filter~=21.1
docutils>=0.16
future~=0.18.2
jsonpickle~=2.0.0
lxml>=4.6.5
markdown~=3.3.4
matplotlib~=3.5.3
numpy~=1.22.0
OWSLib>=0.27
pandas~=1.5.1
psycopg2
psycopg2-binary
pyzip~=0.2.0
redis~=3.5.3
requests~=2.27.1
Shapely~=1.8.1.post1
mozilla-django-oidc
bridget~=0.2.4
python-decouple

django-debug-toolbar~=3.2.2
