Bokeh~=3.0.2
django~=3.2.17
django_crontab>=0.7.1
django-cors-headers>=3.2.1
django-filter
docutils>=0.16
future
jsonpickle
lxml>=4.6.5
markdown
matplotlib
numpy
OWSLib>=0.27
pandas
psycopg2
psycopg2-binary
pyzip
redis
requests
mozilla-django-oidc
bridget
python-decouple
