Bokeh~=3.0.2
django~=4.2.18
django_crontab>=0.7.1
django-cors-headers>=3.2.1
django-filter
docutils>=0.16
future
jsonpickle
lxml>=4.6.5
markdown
matplotlib
numpy
OWSLib>=0.22
pandas
#psycopg2
psycopg2-binary
pyzip
redis
requests
#watts_rsp
