<meta charset="UTF-8">
{% extends "vfwheron/base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load static %}
{% block sidebar %}
	{% include 'vfwheron/static_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

  <header class="w3-container w3-padding-bottom w3-center" style="padding-top:22px">
      {% if form.errors %}
        <h5><b>{% trans "Your login failed! Please try again." %}</b></h5>
      {% elif user.is_authenticated %}
        <h5><b>{% trans "Welcome, you are logged in as " %} {{ user.email }}.</b></h5>
      {% else %}
        <h5><b>{% trans "Welcome, please log in." %}</b></h5>
      {% endif %}
  </header>

  <div class="w3-row-padding w3-margin-bottom w3-center">

    <div class="w3-container w3-light-turquoise w3-padding-16 w3-third-n">
      <div class="w3-left"><i class="fa fa-user w3-xxxlarge"></i> <strong>Login</strong></div>
      <div class="w3-clear"></div>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
    </div>


  </div>

{% endblock %}
