<meta charset="UTF-8">


{% extends "vfw_home/base.html" %}

{% load static %}
{% load i18n %}

<head>
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'upload/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'upload/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'upload/js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  <script src="{% static 'upload/js/data_access.js' %}"></script>

</head>

<body>
{% block title %}- Upload{% endblock %}

{% block content %}
  {% comment %}handle errors{% endcomment %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Upload</h1>
      <p>    {{ geoform.media }} </p>

      {#        Here starts the menu form#}
      <form method="post" novalidate style="padding-left: 12px; padding-right: 12px;">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <p>Field error: </p>
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% for hidden_field in form.hidden_fields %}
          {% if hidden_field.errors %}
            <ul>
              {% for error in hidden_field.errors %}
                <p>Hidden field: </p>
                <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ hidden_field }}
        {% endfor %}
        {% comment %}out-dateted form rendering on one page{% endcomment %}
        <table>
          {% for field in form.visible_fields %}
            <tr>
              <th title="{{ field.help_text }}">{{ field.label_tag }}</th>
              <p>Field error: </p>
              <td>
                {% if field.errors %}
                  <ul>
                    {% for error in field.errors %}
                      <li>Error: {{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {{ field }}
              </td>
            </tr>
          {% endfor %}
        </table>


        <div class="respo-padding-64 respo-medium respo-text-grey" style="font-weight:bold">
            <button type="button" class="collapsible openElement" id="geouploaddata"
                  onclick="vfw.util.collapsibleFun('geouploaddata')">
            {% trans "Geo Info" %}</button>
          {% comment %}add formfields{% endcomment %}
          <div class="content" style="display:block">
            <p>
              {% for obj in context.geoInfo %}
                <div>{{ obj.name }}: {{ obj }} </div>
              {% endfor %}
            </p>
          </div>
          <button type="button" class="collapsible" id="generaluploaddata"
                  onclick="vfw.util.collapsibleFun('generaluploaddata')">
            {% trans "General Info" %}</button>
          {% comment %}add formfields{% endcomment %}
          <div class="content">
            <p>
              {% for obj in context.generalInfo %}
                <div>{{ obj.name }}: {{ obj }} </div></br>
              {% endfor %}
            </p>
          </div>

          <button type="button" class="collapsible" id="datauploaddata"
                  onclick="vfw.util.collapsibleFun('datauploaddata')">
            {% trans "Dataset Info" %}</button>
          {% comment %}add formfields{% endcomment %}
          <div class="content">
            <p>
              {% for obj in context.DataInfo %}
                <div>{{ obj.name }}: {{ obj }} </div></br>
              {% endfor %}
            </p>
          </div>
        </div>

        <button type="submit">Submit</button>
      </form>
      {#        End of menu form#}
    </div>
  </div>

  <!-- Here we only offer the upload button to access data.
  Please be aware that uploading data is a security issue that you have to handle yourself.
  Django stores data up to 2.5 megabyte in memory, bigger files in a tmp folder. For details see
  https://docs.djangoproject.com/en/1.11/topics/http/file-uploads/#where-uploaded-data-is-stored
  Some ideas (in German) about uploading data (and why you shouldn't offer that) are
  available at https://wiki.selfhtml.org/wiki/PHP/Anwendung_und_Praxis/File_Upload
  The better choice for offering data would be a database. -->

  <div>
    {# create a button pointing to an invisible input button: #}
    <hr style="margin-bottom: 0px;">
    <i class="w3-padding fa fa-upload fa-fw"></i>
    <button type="button" class="btn btn-primary js-upload-photos">Upload
      data
    </button>
    <!-- call js function for upload and (invisible) input button
id is the same as defined in data_access.js -->
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'upload:upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>

{% endblock %}
</body>
