{% load static %}


<script src="{% static 'vfwheron/js/jquery-3.2.1.min.js' %}"></script>


{% block javascript %}
{% endblock %}

<div class="respo-container respo-light-turquoise">
    <b title="Sammlung von Werkzeugen/Methoden zur Datenverarbeitung.">Werkzeugkiste </b>
</div>

<i class="respo-padding fa fa-cog fa-fw"></i>
<select class="respo-select" id="select_process" autocomplete="off">
    <option value="0" selected="selected">Wählen Sie ein Werkzeug</option>
    {% for process in wps.processes %}
        <option title={{ process.abstract }}>{{ process.title }}
            <a href="#">{% url 'wps:process' service=service identifier=process.identifier %}</a>
        </option>
    {% empty %}
        <option value="Aggregate">Aggregate</option>
        <option value="Interpolate">Interpolate</option>
        <option value="Regression">Regression</option>
        <option value="NA-Models">NA-Models</option>
    {% endfor %}
</select>
