<ng-container>
    <div #background class="background" (dragover)="dragOver($event)" (drop)="drop($event)">

        <ng-container *ngIf="processes && workflow">

            <svg viewBox="0 0 2000 2000">
                <svg:path *ngIf="movement.edge" [attr.d]="getSvgEdge(movement.edge, true)" stroke="#888888" stroke-width="2" fill="none"
                />
                <svg:path *ngFor="let edge of edges" [attr.d]="getSvgEdge(edge)" stroke="#888888" stroke-width="2" fill="none" class="edge"
                />
                <svg:path *ngFor="let edge of edges" [attr.d]="getSvgEdge(edge)" fill="none" stroke="#888888" stroke-width="20" stroke-opacity="0"
                    class="edge-big" (mousedown)="clickEdge(edge)" />
            </svg>

            <app-task @fade #AppTask *ngFor="let task of workflow.tasks; let i = index" class="task" [style.left.px]="task.x" [style.top.px]="task.y"
                [process]="findProcess(task.process_id)" [task]="task" (mousedown)="dragStart(i, $event)" (parameterDrag)="parameterDrag($event, AppTask)"
                (parameterDrop)="parameterDrop($event, AppTask)" (taskRemove)="remove(task.id)" [running]="running" (changeArtefact)="changeArtefact($event)"></app-task>
        </ng-container>
    </div>
</ng-container>