@import '~@angular/material/theming';
@include mat-core();

// App Theme
$app-primary: mat-palette($mat-teal);
$app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
@include angular-material-theme(mat-light-theme($app-primary, $app-accent, $app-warn));

html, body {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, sans-serif;
    background: #fafafa;
    margin: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    color: rgba(55, 55, 55, 55);
}


.container {
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 8px;
        margin: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(89, 89, 89, 89);
}

.mat-dialog-container, .mat-expansion-panel-header-title {
    color: rgba(55, 55, 55, 89);
}

button {
    text-transform: uppercase;
}

pre {
    margin: 0;
}

code {
    border-radius: 3px;
}