<!-- profile subpage which displays all the resources owned by the current user -->

{% extends "AuthorizationManagement/profile.html" %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/modal-dialog-info.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/modal-dialog-req.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/my-resources.css' %}" />
{% endblock %}

{% block requests_or_resources %}
<div class="mini-nav">
   <a href="{% url 'AuthorizationManagement:profile' %}" class="noncurrent">Requests</a></li>
   <a href="{% url 'AuthorizationManagement:profile' %}my-resources" class="current">My Resources</a></li>
</div>

<div class="resources-container">
   <!-- adding new resource -->
   <a href="{% url 'AuthorizationManagement:profile' %}my-resources/add-new-resource" class="create-resource"><strong>+</strong></a>
   <br>
   
   <!-- if the user does not own any resources -->
   {% if not resource_list %}
   <p class="body"> Currently no resources. </p>
   {% endif %}
   
   {% for resource in resource_list %}
   <a href="#{{resource.id}}" class="res-name"> {{resource.name}} </a>
   
   <!-- modal dialog showing meta info about the resource and an access button -->
   <div id="{{resource.id}}" class="modalDialog">
      <div>
         <a href="" title="Close" id="x"> x </a>
         <h2 id="details">Details</h2>
         <br>
         <p>Name: <strong>{{resource.name}}</strong></p>
         <p>Type: <strong>{{resource.type}}</strong></p>
         <p>CreationDate: <strong>{{resource.creationDate}}</strong></p>
         <p>Description: <strong>{{resource.description}}</strong></p>
       <!--  <button class="acc-btn-info-dialog">
         <a href="../../resources/{{resource.id}}" class="acc-info-dialog"download>Access</a>
         </button> -->
         <button class="acc-tmp-btn" onclick="window.location.href='../../resources/{{resource.id}}'">
            Access
          </button>
      </div>
   </div>
   
   <!-- access button -->
   <a href="../../resources/{{resource.id}}" class="acc-btn">Access</a>
   
   <!-- edit permissions button -->
   <a href="{% url 'AuthorizationManagement:profile' %}my-resources/{{resource.id}}-edit-users-permissions" class="edit-perm"> Edit Permissions</a>
   
   {% if resource in deletion_requested %}
   <a href="#cancel-deletion-request-{{resource.id}}" class="cancel-del-req"> Cancel Deletion Request </a>
   
   <!-- modal dialog for canceling deletion request (when such exists) -->

   <div id="cancel-deletion-request-{{resource.id}}" class="modalDialog">
      <div>
         <a href="" title="Close" id="x"> x </a>
         <form action="{% url 'AuthorizationManagement:cancel-delete-request' resource.id %}" method="post">
            {% csrf_token %}
            <div class="row">
               <p> Are you sure you want to <strong>cancel</strong> the deletion request for resource: 
                  <strong>{{resource.name}}</strong>? 
               </p>
               <br>
               <input type="submit" id="no" value="yes, cancel request">
               <a href="" title="Close" id="close"> Close </a>
            </div>
         </form>
      </div>
   </div>
   <br>
   {% else %}
   
   <!-- the admin has the right to delete his resource without request -->
   {% if is_admin %}	
   <a href="#delete-resource-{{resource.id}}" class="delete-btn"> Delete </a>
   
   <!-- modal dialog for deleting a resource (accessible only for the admin) -->
   <div id="delete-resource-{{resource.id}}" class="modalDialog">
      <div>
         <a href="" title="Close" id="x"> x </a>
         <form action="{% url 'AuthorizationManagement:delete-resource' resource.id %}" method="post">
            {% csrf_token %}
            <div class = "row">
               <p> Are you sure you want to <strong>delete</strong> the resource 
                  <strong>{{resource.name}}</strong>?
               </p>
               <br>
            </div>
            <div class="row">
               <label for="descr">Message: </label><br><br>
               <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "51" rows = "7"></textarea>
            </div>
            <input id="no" type="submit" value="Yes, delete resource">
            <a href="" title="Close" id="close"> Close </a>
         </form>
      </div>
   </div>
   
   <!-- the regular user must send a deletion request -->
   {% else %}
   <a href="#send-deletion-request-{{resource.id}}" class="delete-btn"> Delete </a>
   {% endif %}
   
   <!-- modal dialog for sending a deletion request -->
   <div id="send-deletion-request-{{resource.id}}" class="modalDialog">
      <div>
         <a href="" title="Close" id="x"> x </a>
         <form action="{% url 'AuthorizationManagement:send-delete-request' resource.id %}" method="post">
            {% csrf_token %}						    
            <div class = "row">
               <p> Are you sure you want to send a request for <strong>deletion</strong> of resource:
                  <strong>{{resource.name}}</strong>?
               </p>
               <br>
            </div>
            <div class="row">
               <label for="descr">Message: </label><br>
               <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "51" rows = "7"></textarea>
            </div>
            <input id="no" type="submit" value="Yes, request deletion">
            <a href="" title="Close" id="close"> Close </a>
         </form>
      </div>
   </div>
   {% endif %}
   {% endfor %}
</div>
{% endblock %}
