.content {
    width: 40vw;
}

.tab-content {
    padding: 8px;
}

.info {
    padding: 2px;
    color: rgb(89, 89, 89);
}

.title {
    color: rgba(55, 55, 55, 89);
    font-size: 21px;
    padding: 8px;
}

.info-box {
    background: #F9F9F9;
    border-radius: 3px;
    padding: 8px;
    margin: 3px;
}