#dropzone {
  position: absolute;
  right: 300px;
  left:  300px;
  top: 95px;
  bottom: 15px;
  padding: 10px;
  border: 1px solid #00021d;
  background: white;
}

.tool-btn {
    cursor: move;
    position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}