<div class="toolbar mat-elevation-z2" fxLayout="row" fxLayoutAlign="space-between">
  <div *ngIf="workflow">
    <div [style.display]="editTitleMode ? 'none' : 'block'" class="title">
      {{ workflow?.title }}
      <button @slide *ngIf="!runs()" mat-icon-button class="edit-name" (click)="clickTitleEdit()">
        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
      </button>
    </div>
    <div [style.display]="editTitleMode ? 'block' : 'none'">
      <mat-form-field>
        <input #tileInput id="titleInput" matInput [placeholder]="workflow?.title" (keyup.enter)="save()" autofocus>
      </mat-form-field>
    </div>
  </div>

  <div>
    <div @slide *ngIf="!runs()">
      <button mat-button (click)="undo()" [disabled]="!canUndo()" i18n="@@undo">UNDO</button>
      <button mat-raised-button (click)="save()" color="primary" i18n="@@save">SAVE</button>
    </div>


    <button @slide (click)="showResults()" *ngIf="finished()" class="results" mat-raised-button color="primary">SHOW RESULT</button>
  </div>
</div>

<app-editor class="editor" [workflow]="workflow" [processes]="processes | async" (workflowChanged)="workflowChanged($event)"
  [running]="runs()"></app-editor>


<app-process-list @slide *ngIf="!runs()" [processes]="processes | async" [wps]="wps | async" class="process-list"></app-process-list>

<ng-container *ngIf="workflow?.id >= 0">
  <button *ngIf="!runs(); else runningTemplate" mat-fab color="primary" class="run" [disabled]="workflowError !== ''" (click)="run()">
    <mat-icon [matTooltip]="workflowError" aria-label="Run">play_arrow</mat-icon>
  </button>

  <ng-template #runningTemplate>
    <mat-spinner *ngIf="!finished()" class="run" class="spinner" diameter="89"></mat-spinner>
    <button mat-fab color="primary" class="run" (click)="stop()">
      <mat-icon *ngIf="!finished()" matTooltip="Stop" aria-label="Stop">stop</mat-icon>
      <mat-icon *ngIf="finished()" matTooltip="Edit" aria-label="Edit">edit</mat-icon>
    </button>
  </ng-template>
</ng-container>