{% extends "vfwheron/base.html" %}

{% block sidebar %} 
	{% include 'heron_visual/sidebar.html' %} 
{% endblock sidebar %}

{% block title %}- Heron Visualisation{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Visualisierung</h1>
      <p>Diese Seite befindet sich noch im Aufbau</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h4>Bisher ist noch keine Visualisierung verfügbar.</h4>

  </div>
</div>
{% endblock %}