{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
    {#    TODO: Why do I have to import jquery again? Find the correct place for import! #}
{#    <script src="{% static 'vfwheron/js/jquery-3.2.1.min.js' %}"></script>#}

    <script src="{% static 'vfwheron/js/sidebar.js' %}" type="text/javascript"></script>
</head>

<body onload="show_data()">

Sidenav/menu
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav">
    <br><br>

    {% block logo %}
        {% include 'vfwheron/logo.html' %}
    {% endblock %}

    <a href="#" class="w3-padding-8 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()"
       title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
    <hr style="margin-bottom:0px;">

    <div class="w3-container w3-light-turquoise">
        <b title="The visualization area is still under construction...">{%  trans "Visualistaion" %}</b>
    </div>
    <a href="#" class="w3-padding w3-hover-blue"><i class="fa fa-bullseye fa-fw"></i>{%  trans " Map view" %}</a>
    <a href="#" class="w3-padding w3-hover-blue"><i class="fa fa-line-chart fa-fw"></i>{%  trans " Time series" %}</a>
    <a href="#" class="w3-padding w3-hover-blue"><i class="fa fa-chart-bar fa-fw"></i>{%  trans " Scatterplot" %}</a>
    <a href="#" class="w3-padding w3-hover-blue"><i class="fa fa-table fa-fw"></i>{% trans " Statistical report" %}</a>

    <hr style="margin-bottom:0px;">

    <div class="w3-container w3-light-turquoise">
        <b title="Area to make the data records you have selected available for further use.">{%  trans "Data store" %}</b>
    </div>
    <ul class="w3-ul w3-card-4 w3-white" id="workspace">
    </ul>
    <hr style="margin-bottom:0px;">

    <div class="w3-container w3-light-turquoise">
        <b title="A plot of the results can be found by clicking on the respective result.">{%  trans "Results" %}</b>
    </div>
    <ul class="w3-ul w3-card-4 w3-white" id="resultspace">
    </ul>
</nav>
</body>
Overlay effect when opening sidenav on small screens
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>
