{#<!DOCTYPE html>#}
{#<html lang="en">#}
<meta charset="UTF-8">

{#{% extends "vfwheron/base.html" %}#}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load static %}
<div id="workModal" class="respo-modal">

    <!-- Modal content -->
    <div class="respo-modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3 id="mod_head"></h3>
        </div>
        <p id="mod_abs" class="modal-abstract"></p>
        <h4>Input</h4>
        <div id="mod_in"></div>
        <h4>Output</h4>
        <div id="mod_out"></div>
        <div class="modal-footer">
            <span-c class="modal-cancel">Cancel</span-c>
            <span-s class="modal-save">Save</span-s>
            <h3></h3>
        </div>
    </div>

</div>


{% comment %}<div id="popup" class="ol-popup">
            <div id="popup-content">
                  <h4>Input</h4>
  <div id="mod_in"></div>
            </div>
{#            <img id="preview_img" src="" alt="Keine Vorschau verfügbar"/>#}
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    </div>{% endcomment %}
{#</html>#}
<script>
    // Get the modal
    let modal = document.getElementById("workModal");
    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("close")[0];
    let span_c = document.getElementsByClassName("modal-cancel")[0];
    let span_s = document.getElementsByClassName("modal-save")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    };
    span_s.onclick = function () {
        modal.style.display = "none";
        saveInput();
    };
    span_c.onclick = function () {
        modal.style.display = "none";
    };
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>

