{% load static %}
{% load i18n %}
{% load dynamic_fields %}

{{ processes|json_script:"processes-data" }}

<!--
<div class="flex flex-row h-[90vh]">
    
    <div class="basis-1/2 p-6">
        <div class="flex flex-col h-full">
            <div class="h-1/2 p-6 mb-4 bg-white shadow-md rounded flex flex-col overflow-hidden">
                  
            </div>
            <div class="h-1/2 p-6 bg-white shadow-md rounded flex flex-col overflow-hidden">
            </div>
        </div>
    </div>

    <div class="basis-1/2 p-6">
    </div>
    
</div>

-->
<div class="flex flex-col h-[90vh]">
    
    <div class="h-1/2 m-6 flex flex-row gap-2">
        <div class="basis-1/2 p-6 bg-white shadow-md rounded flex flex-col overflow-hidden">
            {% include 'wps_gui/result_store.html' %}        
        </div>
        <div class="basis-1/2 p-6 bg-white shadow-md rounded flex flex-col overflow-auto">   
            {% include 'wps_gui/toolbox.html' %}  
        </div>
    </div>

    <div class="h-1/2 m-6 p-6 bg-white shadow-md rounded flex flex-col overflow-hidden">
        {% include 'wps_gui/process_history.html' %}  
    </div>
    
</div>

{% block modal %}
    {% include 'wps_gui/modal.html' %}
    {% include 'wps_gui/download_modal.html' %}
    {% include 'wps_gui/preview_modal.html' %}
{% endblock modal %}

<script src="https://unpkg.com/dayjs/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs/plugin/utc.js"></script> 
<script src="https://unpkg.com/dayjs/plugin/timezone.js"></script> 
<script>dayjs.extend(window.dayjs_plugin_utc);dayjs.extend(window.dayjs_plugin_timezone);</script>

<script src="{% static 'wps_gui/js/workflow.js' %}" type="text/javascript"></script>
<script src="{% static 'wps_gui/js/workplace.js' %}" type="text/javascript"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="{% static 'wps_gui/js/result_area_obj.js' %}" type="text/javascript"></script>