{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
    {#  <script src="{% static 'vfwheron/js/sidebar.js' %}" type="text/javascript"></script>#}
    <style>
        .w3-sidenav {
            margin-top: 37px;
        }
    </style>
</head>

<script>
    let SERVER = "{{ VFW_SERVER }}";
    let MAP_SERVER = "{{ MAP_SERVER }}";
    let DEMO_VAR = "{{ DEMO_VAR }}"
</script>

<body onload="show_data(), draw_workflow()">
<!-- TODO: check if still in use. If not delete that parm -->
<param id="workdata" value="{{ workspaceData }}"></param> <!-- param to bridge data from view to js; cannot find any
  usage => can it be deleited? -->
<!--   Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav">
    <br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src="{% static 'vfwheron/images/logo_main.png' %}" style="width:200px"><br>
        </div>
    </div>
    <a href="#" class="w3-padding-8 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()"
       title="close menu"><i class="fa fa-remove fa-fw"></i>{% trans "  Close Menu" %}</a>
    <hr style="margin-bottom:0px;">

    {#  TODO: The following block is useless here, though needed to avoid errors from static/sidebar.js#}
    <div hidden>
        {% block data %}
            {% include 'vfwheron/select_data.html' %}
        {% endblock %}
    </div>

    <hr style="margin-bottom:0px;">

    <div class="w3-container w3-light-turquoise">
        <b title="{% trans "Area to make the datasets you have selected available for further use." %}">{% trans "Data store" %}</b>
    </div>
    <ul class="w3-ul w3-card-4 w3-white" id="workspace">
        <b class="w3-btn-group">
            <input class="w3-btn w3-blue w3-right" type="submit"
                   onclick="remove_all_datasets()" value="{% trans "Remove all datasets" %}" data-toggle="tooltip"
                   title="{% trans "Remove all datasets from data store" %}">
        </b>
    </ul>
    <hr>
{#    <hr style="margin-bottom:75%;">#}

    <div class="w3-container w3-light-turquoise">
        <b title={% trans "Area&#32to&#32make&#32your&#32results&#32ready&#32for&#32further&#32processing&#32or&#32visualisation&#32available." %}>{% trans "Result store" %}</b>
    </div>
    <ul class="w3-ul w3-card-4 w3-white" id="workspace_results">
        <b class="w3-btn-group">
            <input class="w3-btn w3-blue w3-right" type="submit"
                   onclick="remove_all_results()" value="{% trans "Remove all results" %}" data-toggle="tooltip"
                   title="{% trans "Remove all results from result store" %}">
        </b>
    </ul>
    {#<div id="w3popup" class="w3popup">#}
    {#    <span class="popuptext" id="popuptext"></span>#}
    {#    </div>#}
</nav>
{% comment %}<div id="metapopup" class="popup">
            <div class="popuptext" id="popuptext">TestTestTest
            </div>
{#            <a href="#" id="popup-closer" class="ol-popup-closer"></a>#}
    </div>{% endcomment %}
{% comment %}<nav id="poptext" class="popuptext">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="w3-medium" onclick="show_data(key)">Show metadata</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="w3-medium" onclick="show_data(key)">Show preview</a>
        </li>
    </ul>
</nav>{% endcomment %}
{#context menu in sidebar.js#}

<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="View"><i
                    class="fa fa-eye"></i>{% trans " View metadata" %}</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Plot"><i class="fa fa-area-chart"></i>{% trans " Plot data" %}
            </a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Downloadcsv"><i
                    class="fa fa-download"></i>{% trans " Download data" %} (.csv)</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Downloadshp"><i
                    class="fa fa-download"></i>{% trans " Download data" %} (.shp)</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Downloadxml"><i
                    class="fa fa-download"></i>{% trans " Download metadata" %} (.xml)</a>
        </li>
        {#        TODO: Find data format to download data and metadata as well - maybe extent shp#}
        {% comment %}      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="DownloadDMD"><i class="fa fa-download"></i>{% trans " Download data & metadata" %}</a>
      </li>{% endcomment %}
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Remove"><i
                    class="fa fa-eraser"></i>{% trans " Remove dataset" %}</a>
        </li>
    </ul>
</nav>

<nav id="context-result" class="context-result">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="OpenTool"><i
                    class="fa fa-wrench"></i>{% trans " Reopen Process" %}</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="ViewResult"><i
                    class="fa fa-table"></i>{% trans " View as table" %}</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Plot"><i
                    class="fa fa-area-chart"></i>{% trans " Plot result" %}</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="DownloadR"><i
                    class="fa fa-download"></i>{% trans " Download result" %}</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="RemoveR"><i
                    class="fa fa-eraser"></i>{% trans " Remove result" %}</a>
        </li>
    </ul>
</nav>

<nav id="loader-popup" class="mod-popup w3-center">
    {#    TODO: figure out how to aport download, then there is no need to hide the closer#}
    <a href="#" id="pop-closer" class="mod-popup-closer w3-hide"></a>
    <div id="pop-content-side">
    </div>
    <a>
        <h5>
            <div id="popupText" class="mod-popup--inactive">{% trans " Please wait. Preparing data..." %}</div>
        </h5>
    </a>
</nav>

<nav id="img-popup" class="context-menu w3-center">
    <div id="imgPopup"></div>
</nav>
{#  Overlay effect when opening sidenav on small screens#}
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

{% block rModal %}
    {% include 'wps_gui/result_modal.html' %}
{% endblock rModal %}
</body>

