{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
  <style>
    .w3-sidenav {
      margin-top: 80px;
    }
  </style>
</head>

<body>
<script>
  /**
   * Build Type indicators for buttons in Toolbox
   * Don't draw a marker, this is done with css. Set only respective class here.
   * @param id
   * @param invalues
   * @param outvalues
   */
  function inoutIndicator(id, invalues, outvalues) {
    let element = document.getElementById(id);
    invalues.forEach(function (val) {
      if (val.includes('pattern')) {
        element.getElementsByTagName("button-header")[0].innerHTML += '<span class="' + val[0] + '" ' +
          'style="display: inline-block;" title="Input: ' + val[0] + '"></span>';
      } else if (Array.isArray(val) && val.length > 1) {
        let newHeader = "";
        val.forEach(function (inVal) {
          newHeader += '<span style="margin-left: 1px; margin-right: 1px;" ' +
            'class="' + inVal + ' "title="Input: ' + val + '"></span>';
        });
        element.getElementsByTagName("button-header")[0].innerHTML +=
          '<span style="display: flex; overflow: hidden; font-size: larger;"><b>(</b>' + newHeader + '<b>)</b></span>';
      } else {
        element.getElementsByTagName("button-header")[0].innerHTML += '<span class="' + val + '" ' +
          'style="display: inline-block;" title="Input: ' + val + '"></span>';
      }
    });
    outvalues.forEach(function (val) {
      if (Array.isArray(val) && val.length > 1) {
        let newFooter = "";
        val.forEach(function (outVal) {
          newFooter += '<span style="margin-left: 1px; margin-right: 1px;" ' +
            'class="' + outVal + ' "title="Output: ' + val + '" ></span>';
        });
        element.getElementsByTagName("button-footer")[0].innerHTML +=
          '<span style="display: flex; overflow: hidden; font-size: larger;"><b>(</b>' + newFooter + '<b>)</b></span>';
      } else {
        element.getElementsByTagName("button-footer")[0].innerHTML +=
          '<span style="align-self: flex-end;" <span class="' + val + '" ' +
          'title="Ouput: ' + val + '"></span></div>';
      }
    })
  }
</script>
<!--   Sidenav/menu -->
<!--   Show Data selected in Home in Data Store and start database loader -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-right" style="z-index:0;width:300px;right:0"
     id="myToolbar">
  <br>
  <a href="#" class="w3-padding-8 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()"
     title="close menu"><i class="fa fa-remove fa-fw"></i>{% trans "  Close Menu" %}</a>
  <hr style="margin-bottom:0;">
  <div class="w3-container ">
    <p></p>
  </div>
  <div class="w3-container w3-light-turquoise">
    <b title={% trans "Select&#32your&#32tool&#32here." %}>{% trans " Toolbox" %}</b>
  </div>
  <div class="row col-md-8 col-md-offset-2" id="toolbar">
    {% if wps_services %}
      <div class="list-group">
        {% for wps in wps_services %}
          <a
                  class="list-group-item wps">
            <h6 class="list-group-item-heading title">{{ wps.identification.title }}</h6>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>Currently there are no WPS services or tools linked to this instance. We are working on this issue,
        so please try later again.</p>
    {% endif %}
    <table style="width:100%">
      <div class="list-group">
        {% for identifier, process in sessiondata.items %}
          {% if identifier != "dbloader" %}
          <tr>
            <div id="{{ identifier }}" class="process w3-card-2"
                 onclick="vfw.workspace.modal.open_wpsprocess('{{ service }}', '{{ identifier }}');"
                 title="{{ process.abstract }}" draggable="true" ondragstart="dragstart_handler(event)"
                 data-service="{{ service }}" data-process="{{ identifier }}"
                 style="cursor:pointer;">
              <button-header class="w3-container" style="font-size: smaller">
              </button-header>
              <div value="{{ process.processin }}" class=" w3-container">
                <h7 class="title">{{ process.title }}
                </h7>
              </div>
              <button-footer class="w3-container" style="font-size: smaller">
              </button-footer>
              <style onload="inoutIndicator('{{ identifier }}', {{ process.processin }}, {{ process.processout }})"></style>

            </div>
          </tr>
          {% endif %}
        {% endfor %}
      </div>
    </table>
  </div>
  <div class="w3-container">
    <p></p>
  </div>
</nav>

{#  Overlay effect when opening sidenav on small screens#}
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<script>
  $.ajax({
    url: vfw.var.DEMO_VAR + "/workspace/updatetools",
    data: {
      'csrfmiddlewaretoken': csrf_token,
    },
  })
    .then(function(result){
      if (result['wps'].length > 0) {
        console.log('Got a database update. Please refresh page for new data for tool ', result)
      }
    })
  .fail(function(result) {
    console.warn('No WPS accessible: ')
  })
</script>
</body>


