<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load i18n %}

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="{% static 'wps_gui/vcss/workplace.css' %}">
</head>
<body>
<div id="workflowbuilder">
  <b class="w3-btn-group w3-hide-medium w3-hide-small">
    <input class="w3-btn w3-blue w3-left" type="submit" onclick="vfw.workspace.workflow.load()"
           value="{% trans "Load" %}" data-toggle="tooltip"
           title="{% trans "Click to load a saved workflow" %}">
    <input class="w3-btn w3-blue w3-left" type="submit" onclick="vfw.workspace.workflow.save()"
           value="{% trans "Save" %}" data-toggle="tooltip"
           title="{% trans "Click to save current workflow" %}">
    <input class="w3-center" id="workflow_name" rows="1" maxlength="50"
           title="{% trans "Name of current workflow with a max length of 50 characters. Allowed are characters, numbers, space, underscore and dash." %}"
           style="resize: none; height: 34px;"
           value="{% trans "my workflow" %}" pattern="[A-Za-z0-9\s_-]{1,50}">
    <input class="w3-btn w3-green w3-right" type="submit" onclick="vfw.workspace.workflow.run()"
           value="{% trans "Run" %}" data-toggle="tooltip"
           title="{% trans "Click to run current workflow" %}">
    <input class="w3-btn w3-red w3-right" type="submit" onclick="vfw.workspace.workflow.clear_workflow()"
           value="{% trans "Clear" %}" data-toggle="tooltip"
           title="{% trans "Click to clear current workflow" %}">
  </b>
  <div id="dropdiv" ondragover="dragover_handler(event)" ondrop="vfw.workspace.drop_handler(event)">
    <div title="{% trans "Drag & Drop your Data and Tools here" %}" style="padding: 10px">
      {% trans "Dropzone" %}</div>
  </div>
</div>
{% block modal %}
  {% include 'wps_gui/modal.html' %}
{% endblock modal %}
{#{% block modal %}#}
{#    {% include 'vfw_home/info_modal.html' %}#}
{#{% endblock modal %}#}
</body>
</html>

<script src="{% static 'wps_gui/js/draw2d.js' %}" type="text/javascript"></script>
<script src="{% static 'wps_gui/js/workplace.js' %}" type="text/javascript"></script>
<script src="{% static 'wps_gui/js/workflow.js' %}" type="text/javascript"></script>
<script>
  {# handle workflow name #}
  document.getElementById("workflow_name").addEventListener("keyup", function (event) {

    let re = new RegExp(this.pattern);
    let name = this.value;
    {#re = /^[A-Za-z0-9_-]{1,50}$/#}
    this.value = re.exec(name)

    if (event.keyCode === 13) {
      event.preventDefault();
      {# globalWorkflow.set_name(this.value);#}
      vfw.session.set_workflow_name(this.value)
    }
  });
</script>
{#<SCRIPT src="./lib/jquery.autoresize.js"></SCRIPT>#}
{#<SCRIPT src="./lib/jquery-touch_punch.js"></SCRIPT>#}
{#<SCRIPT src="./lib/jquery.contextmenu.js"></SCRIPT>#}

{#The follwing canvas is only to measure text width (in workflow.js/drophandler) #}
<canvas id="textWidthCanvas"></canvas>
