<!--
Project Name: V-FOR-WaTer
Author: Marcus Strobl
Contributors:
License: MIT License
-->

<form method="get" name="advancedfilterform" id="advancedfilter-form">
    <div class="respo-padding-64 respo-medium respo-text-grey" style="font-weight:bold">
{% for obj in advFilter.form %}
   {{ obj.name }}: {{ obj }} <br />
{% endfor %}
  {{ advFilter.embargo }}
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<p>Selection:</p>
{% for obj in selection.qs %}
    {{ obj.variable }} - ${{ obj.license }}<br />
{% endfor %}
