<!--
Project Name: V-FOR-WaTer
Author: Elnaz Azmi
Contributors: Marcus Strobl
License: MIT License
-->

<!DOCTYPE html>
{% load static %}<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html>

{#Cookie window 1/2#}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"/>

<head>
  <title>VFORWaTer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'vfw_home/vcss/w3.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vfw_home/vcss/css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vfw_home/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vfw_home/vcss/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vfw_home/vcss/flag-icon.css' %}">
  <link rel="icon" href="{% static 'vfw_home/images/Favicon.ico' %}">

  <!--   our standard jquery for most of the portal  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" ></script>

  <!-- django translations for JavaScript -->
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  <!-- Openlayers -->
  <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/dist/ol.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.1.0/ol.css">

  <!-- Openlayers Extension -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.css" />
  <script type="text/javascript" src="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.js"></script>

    <!-- form.media for django map widget -->
  {{ form.media }}
</head>
<param id="is_authenticated" value="false">

{#Cookie window 2/2#}
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
  const vfw = {
    colors: {
      blue1: "#D9EFFD",
      blue2: "#AADDF9",
      blue3: "#00BAEE",
      blue4: "#004978",
    },
    datasets: {
      dataObjects: {},
      selectObjects: {},
      resultObjects: {},
    },
    draw2d: {},
    filter: {
      coords: [],
    },
    html: {
      cssClass: {
      },
      mouse: {
        clickCoords: {},
      },
      obj: {
      }
    },
    init: {},
    map: {
      control: {
        zoomToExt: {},
      },
      func: {},
      html: {},
      layer: {
        cluster: {},
        hidden: {},
        map: {},
      },
      source: {
        wfsPointSource: {},
        selectionSource_catchment: {},
      },
      style: {
        cache: {},
      },
      vars: {
        catchments: {},
        mapSelect: {},  // maybe use this var for an undo funciton in the draw menu
        selectionEdgeCoords: {},
        wfsLayerName: '',
      },
    },
    session: {},
    sidebar: {
      html: {},
    },
    url: {},
    util: {
      bokehPreviewScript: '',
      bokehResultScript: '',
    },
    var: {
      array: {},
      dict: {},
      obj: {},
      str: {},
    },
    workspace: {
      modal: {},
      workflow: {},
    },
  }
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": vfw.colors.blue1
      },
      "button": {
        "background": vfw.colors.blue3
      }
    },
    "position": "bottom-right"
  });
  </script>
{{ BASE_DATATYPES|json_script:"base-datatypes-var" }}
{{ DEMO_VAR|json_script:"demo-var" }}
{{ EXT_DATATYPES|json_script:"ext-datatypes-var" }}
{{ MAP_SERVER|json_script:"mapserver-var" }}
{{ user.is_authenticated|json_script:"user-is_authenticated" }}
  <script>
    vfw.var.BASE_DATATYPES = JSON.parse(document.getElementById('base-datatypes-var').textContent);
    vfw.var.DATATYPES = vfw.var.BASE_DATATYPES.concat(vfw.var.EXT_DATATYPES);
    vfw.var.DEMO_VAR = JSON.parse(document.getElementById('demo-var').textContent);
    vfw.var.EXT_DATATYPES = JSON.parse(document.getElementById('ext-datatypes-var').textContent);
    vfw.var.MAP_SERVER = JSON.parse(document.getElementById('mapserver-var').textContent);
    vfw.var.USER_IS_AUTHENTICATED = JSON.parse(document.getElementById('user-is_authenticated').textContent);
  </script>

<body class="w3-light-grey"
onload="vfw.sidebar.showData(); vfw.html.getQuickSelection(); vfw.filter.updateQuickfilter()">

<div id="loader-overlay" onclick="vfw.html.loaderOverlayOff()">
  <div class="fading-dot-loader">
    <div class="dot-loader1 dot-loader"></div>
    <div class="dot-loader2 dot-loader"></div>
    <div class="dot-loader3 dot-loader"></div>
    <div class="dot-loader4 dot-loader"></div>
    <div class="dot-loader5 dot-loader"></div>
    <div class="dot-loader6 dot-loader"></div>
  </div>
</div>
<!-- Current language: {{ LANGUAGE_CODE }} -->
<!--    Top container -->
<div class="w3-container w3-top w3-black w3-large w3-padding" id="topcontainer">
  <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" onclick="vfw.sidebar.w3_Open();"><i class="fa fa-bars"></i>
  </button>
  <span class="w3-hide-small w3-right"><strong><small>{% trans "Virtual research environment for water and terrestrial environmental research" %}</small></strong>
    </span>
  <span class="w3-hide-medium w3-hide-large w3-right"
        style="letter-spacing:3px"><strong><small>V-FOR-WaTer Portal</small></strong>
    </span>
</div>

<!--	Navbar -->
<div id="navbar" class="w3-top">
  <ul class="w3-navbar w3-light-turquoise w3-top w3-left-align w3-large">
    <li class="w3-opennav w3-right w3-hide-large">
      <a href="javascript:void(0)" class="w3-hover-white w3-large w3-theme-d4" onclick="vfw.sidebar.sidemenuOpen()">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li class="w3-hide-small w3-hide-medium"><a href="{% url 'vfw_home:home' %}" class="w3-hover-white">
      <i class="fa fa-map-o fa-fw"></i>{% trans "  Home" %}</a>
    </li>
    <li class="w3-hide-small"><a href="{% url 'wps_gui:home' %}" class="w3-hover-white">
      <i class="fa fa-wrench fa-fw"></i>{% trans "  Workspace" %}</a>
    </li>
    <li class="w3-hide-small">
      <div class="w3-dropdown-hover w3-transparent">
        <a class="w3-hover-white ">
          <i class="fa fa-external-link fa-fw"></i> {% trans "Help" %}<i class="fa fa-caret-down fa-fw"></i>
          <div class="w3-dropdown-content" style="right:0">
            <a target="_blank" href="https://vforwater.github.io/documentation/index.html" style="text-decoration:none"
               class="w3-hover-blue">
              <i class="fa fa-book fa-fw"></i>{% trans "  Portal Help" %}
            </a>
            <a target="_blank" href="https://vforwater.de" style="text-decoration:none" class="w3-hover-blue">
              <i class="fa fa-sitemap fa-fw"></i>{% trans "  Web Site" %}
            </a>
            <a target="_blank" href="https://github.com/VForWaTer/vforwater-portal" style="text-decoration:none"
               class="w3-hover-blue">
              <i class="fa fa-code fa-fw"></i>{% trans "  Source Code" %}
            </a>
            <a href="{% url 'legals' %}" style="text-decoration:none" class="w3-hover-blue">
              <i class="fa fa-legal fa-fw"></i>{% trans "  Legals" %}
            </a>
            <a href="{% url 'privacy_policy' %}" style="text-decoration:none" class="w3-hover-blue">
              <i class="fa fa-legal fa-fw"></i>{% trans "  Privacy Policy" %}
            </a>
          </div>
        </a>
      </div>

    </li>
    {% if user.is_authenticated %}
      <param name="is_authenticated" value="true">

      <li class="w3-hide-small w3-right">

        <div class="w3-dropdown-hover w3-transparent">
          <a class="w3-hover-white ">
            <i class="fa fa-user fa-fw"></i>
            {% if user.first_name %}
              {{ user.first_name | capfirst }}
	    {% elif user.last_name %}
              {{ user.last_name | capfirst }}
            {% elif user.email %}
              {{ user.email }}
            {% else %}
              {{ user.username | capfirst }}
            {% endif %}
            <i class="fa fa-caret-down fa-fw"></i>

            <div class="w3-dropdown-content" style="right:0">
              <a class="w3-hover-blue " href="{% url 'upload:home' %}">{% trans "Upload Data" %}</a>
              <a class="w3-hover-blue " href="{% url 'author_manage:profile' %}">{% trans "Profile" %}</a>
              <a class="w3-hover-blue " href="{% url 'author_manage:my-resources' %}">{% trans "My Resources" %}</a>
              <a href="#" class="w3-hover-blue">
                <form action="{% url 'vfw_home:logout' %}" method="post"> {% csrf_token %}
                  <input class="w3-btn-simple" type="submit" name="logout" value="Logout"/>
                </form>
              </a>
		<!--    </option> -->
            </div>
          </a>
        </div>

      </li>

      {% if user.is_staff %}  <!-- admin stuff goes here -->

        <li class="w3-hide-small w3-right">
          <div class="w3-dropdown-hover w3-transparent">
            <a class="w3-hover-red">
              <i class="fa fa-beer fa-fw"></i> Admin<i class="fa fa-caret-down fa-fw"></i>
              <div class="w3-dropdown-content" style="right:0">
                <a class="w3-hover-red nav" value="ManageUsers" title="Manage Users">Manage Users</a>
                <a class="w3-hover-red nav" value="ManageSomething" title="Manage Something">Manage Something</a>
                <a class="w3-hover-red nav" href="{% url 'vfw_status:home' %}">{% trans "VFW status" %}</a>
              </div>
            </a>
          </div>
        </li>
        <!-- is_staff -->
      {% endif %}

      <!-- is_authenticated -->
    {% else %} <!-- is not authenticated -->
      <param name="is_authenticated" value="false">
      <li class="w3-hide-small w3-right">
        <a class="w3-hide-small w3-right w3-hover-white">
	  <a class="w3-btn-simple " href="{% url 'oidc_authentication_init' %}"><i class="fa fa-user fa-fw"></i>  {% trans "  Login" %}</a>
        </a>
      </li>
    {% endif %}

    <!-- flag -->
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'de' %}

      <li class="w3-hide-small w3-right">
        <a href="#" class="w3-hover-none">
          <form action="{% url 'vfw_home:togglelang' %}" method="post"> {% csrf_token %}
            <input class="w3-btn-simple flag-icon-background flag-icon-gb" type="submit" name="togglelang"
                   value="&nbsp;&nbsp;&nbsp;"/>
          </form>
        </a>
      </li>

    {% else %}
      <li class="w3-hide-small w3-right">
        <a href="#" class="w3-hover-none">
          <form action="{% url 'vfw_home:togglelang' %}" method="post"> {% csrf_token %}
            <input class="w3-btn-simple flag-icon-background flag-icon-de" type="submit" name="togglelang"
                   value="&nbsp;&nbsp;&nbsp;"/>
          </form>
        </a>
      </li>

    {% endif %}


  </ul>
</div>

{% block sidebar %}
{% endblock %}

{% block toolbar %}
{% endblock %}

{% block sidemenu %}
  {% include 'vfw_home/sidemenu.html' %}
{% endblock %}

<!-- 	!PAGE CONTENT! -->
<div class="w3-main">
  <script src="{% static 'vfw_home/js/vfw.js' %}" type="text/javascript"></script>
  <script src="{% static 'vfw_home/js/data_obj.js' %}" type="text/javascript"></script>
  <script src="{% static 'vfw_home/js/select_area_obj.js' %}" type="text/javascript"></script>
  <script src="{% static 'vfw_home/js/map.js' %}" type="text/javascript"></script>
  <script src="{% static 'vfw_home/js/menu_objects.js' %}" type="text/javascript"></script>

  {# get map in the content block #}
  {% block content %}{% endblock %}

</div>
{{ form.media }}
</body>
</html>
