{% load static %}
<!--  ol.css is OpenLayers which is to render geo data in a webbrowser -->
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
  {#    TODO: Don't use web adresses for production#}

  <!-- V-FOR-WaTer -->
{#  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL,Object.assign"></script>#}
  <link rel="stylesheet" type="text/css" href="{% static 'vfw_home/vcss/map.css' %}">
	<script src="{% static 'vfw_home/js/map.js' %}" type="text/javascript"></script>
{#	<script src="{% static 'vfw_home/js/map_new.js' %}" type="text/javascript"></script>#}

{#    TODO: menu_objects should not be loaded in map.html. Why isn't it working in select_data.html? Time of loading?#}
	<script src="{% static 'vfw_home/js/menu_objects.js' %}" type="text/javascript"></script>
</head>

<body>
	<div id="map" class="map"></div>

{# collect variables from server for startup of map #}
{{ dataExt|json_script:"dataExt" }}
{{ data_layer|json_script:"data_layer" }}
{{ areal_data_layer|json_script:"areal_data_layer" }}
{#{{ merit_river_layer|json_script:"merit_river_layer" }}#}
{#{{ merit_catchment_layer|json_script:"merit_catchment_layer" }}#}
{#{{ merit_catchment_coarse_layer|json_script:"merit_catchment_coarse_layer" }}#}
    <script>
  vfw.var.DATA_EXT = JSON.parse(document.getElementById('dataExt').textContent);
  vfw.var.DATA_LAYER_NAME = JSON.parse(document.getElementById('data_layer').textContent);
  vfw.var.AREAL_DATA_LAYER_NAME = JSON.parse(document.getElementById('areal_data_layer').textContent);
  {#vfw.var.MERIT_RIVER_LAYER = JSON.parse(document.getElementById('merit_river_layer').textContent);#}
  {#vfw.var.MERIT_CATCHMENT_LAYER = JSON.parse(document.getElementById('merit_catchment_layer').textContent);#}
  {#vfw.var.MERIT_CATCHMENT_COARSE_LAYER = JSON.parse(document.getElementById('merit_catchment_coarse_layer').textContent);#}
</script>

  <div class="w3-center" id="closed_drawfilter">
    {% trans "Open&#32drawing&#32panel&#32and&#32deactivate&#32doubleclick&#32zoom." as Open %}
    <a href="javascript:void(0)" onclick=drawOnMapMenu(this); id="draw_toggle_plus" class="hover-white" title={{ Open }}
      ><i class="map_icon fa fa-plus-square-o fa-fw"></i></a>
  </div>
	<div class="w3-center" id="drawfilter" style="display:none">
{#        <dl>#}
    {% trans "Click&#32on&#32map&#32to&#32define&#32outlet&#32of&#32catchment&#32to&#32draw." as Draw_catchment %}
    {% trans "Click&#32on&#32map&#32to&#32draw&#32a&#32square.&#32Doubleclick&#32to&#32stop&#32drawing." as Draw_square %}
    {% trans "Click&#32on&#32map&#32to&#32draw&#32a&#32polygon.&#32Doubleclick&#32to&#32stop&#32drawing." as Draw_poly %}
    {% trans "Edit&#32drawing" as Edit %}
    {% trans "Remove&#32drawing" as Remove %}
{#    {% trans "Exit&#32drawing&#32mode&#32and&#32reactivate&#32doubleclick&#32zoom." as Exit %}#}
    {% trans "Close&#32drawing&#32panel&#32and&#32reactivate&#32doubleclick&#32zoom." as Close %}
    <a href="javascript:void(0)" onclick=toggleDraw(this); id="draw_close" class="hover-white" title={{ Close }}>
      <i class="map_icon fa fa-minus-square-o fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=toggleDraw(this); id="draw_catchment" class="draw-hover" title={{ Draw_catchment }}
      value="Catchment"><i class="map_icon fa fa-hand-pointer-o fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=toggleDraw(this); id="draw_square" class="draw-hover" title={{ Draw_square }}
      value="Square"><i class="map_icon fa fa-square-o fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=toggleDraw(this); id="draw_polygon" class="draw-hover" title={{ Draw_poly }}
      value="Polygon"><i class="map_icon fa fa-pencil fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=toggleDraw(this); id="modify_polygon" class="draw-hover" title={{ Edit }}>
      <i class="map_icon fa fa-edit fa-fw"></i></a>
    {#		  <a href="javascript:void(0)" id="select_polygon" class="draw-hover" title="Select Drawing"><i class="fa fa-hand-pointer-o fa-fw"></i></a>#}
    <a href="javascript:void(0)" onclick=toggleDraw(this); id="remove_polygon" class="draw-hover" title={{ Remove }}>
      <i class="map_icon fa fa-trash fa-fw"></i></a>
{#    <a href="javascript:void(0)" onclick=toggleDraw(this); id="draw_close" class="w3-hover-white" title={{ Exit }}><i class="map_icon fa fa-remove fa-fw"></i></a>#}
{#            </dl>#}
	</div>
		{# <input type="button" onclick="toggleLayer(vectorLayer)" value="Toggle Visibility of Basiseinzugsgebiete">&emsp; #}

</body>


<script>
   // sample_locations = '{{ sample_locations }}';
   function isStorageSupported(globalObject, storageType) {
   try {
      const storage = globalObject[storageType];
      storage.setItem("test", "test");
      storage.removeItem("test");
      return true;
 } catch (err) {
   return false;
 }
}
if (!isStorageSupported(window, "localStorage")) {
  alert("You might experience problems on this webside. " +
    "This might be due to your browser in general (we recommend Google Chrome), due to a " +
    "private (incognito) mode, Android apps that use WebView, or you might have turned off JavaScript.");
}

    /** add clickEvent to close button */
    let closst = document.getElementById('draw_close');
    closst.addEventListener('click', function () {
        vfw.map.func.removeDrawInteractions()
        // vfw.map.olmap.addInteraction(selectCluster);
        vfw.map.func.toggleDrawFilter()
    });
   // add clickEvent to auto-draw catchment button
    let drwcatch = document.getElementById('draw_catchment');
    drwcatch.addEventListener('click', function () {
        vfw.map.func.removeDrawInteractions();
        vfw.map.olmap.addInteraction(drawCatchmentOutlet);
        /* Deactivate select and delete any existing polygons.
            Only one polygon drawn at a time. */
    });
   // add clickEvent to draw square button
    let drwsqrst = document.getElementById('draw_square');
    drwsqrst.addEventListener('click', function () {
        vfw.map.func.removeDrawInteractions();
        vfw.map.olmap.addInteraction(drawSquare);
        /* Deactivate select and delete any existing polygons.
            Only one polygon drawn at a time. */
    });
        // add clickEvent to draw polygon button
    let drwst = document.getElementById('draw_polygon');
    drwst.addEventListener('click', function () {
        // vfw.map.olmap.removeInteraction(modify);
        // vfw.map.olmap.removeInteraction(drawSquare);
        vfw.map.func.removeDrawInteractions()
        vfw.map.olmap.addInteraction(draw);
        /* Deactivate select and delete any existing polygons.
            Only one polygon drawn at a time. */
    });
    /** add clickEvent to modify button */
    let modst = document.getElementById('modify_polygon');
    modst.addEventListener('click', function () {
        vfw.map.func.removeDrawInteractions()
        vfw.map.olmap.addInteraction(modify);
    });
        /** add clickEvent to remove button */
    let delst = document.getElementById('remove_polygon');
    delst.addEventListener('click', function () {

      {#selectionLayerSource.clear();#}
      {#selectedFeatures.clear();#}

      {#source.clear();#}
      {#select.setActive(false);#}
      // vfw.html.getQuickSelection({});
      resetDraw();
    });

</script>
