<!--
Project Name: V-FOR-WaTer
Author: Marcus Strobl
Contributors:
License: MIT License
-->

{% load static %}
<!--  ol.css is OpenLayers which is to render geo data in a webbrowser -->
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
  <!-- V-FOR-WaTer -->
  <link rel="stylesheet" type="text/css" href="{% static 'vfw_home/vcss/map.css' %}">
</head>

<body>
	<div id="map" class="map"></div>

{# collect variables from server for startup of map #}
{{ dataExt|json_script:"dataExt" }}
{{ data_layer|json_script:"data_layer" }}
{{ areal_data_layer|json_script:"areal_data_layer" }}
    <script>
  vfw.var.DATA_EXT = JSON.parse(document.getElementById('dataExt').textContent);
  vfw.var.DATA_LAYER_NAME = JSON.parse(document.getElementById('data_layer').textContent);
  vfw.var.AREAL_DATA_LAYER_NAME = JSON.parse(document.getElementById('areal_data_layer').textContent);
</script>

  <div class="w3-center" id="closed_drawfilter">
    {% trans "Open&#32drawing&#32panel&#32and&#32deactivate&#32doubleclick&#32zoom." as Open %}
    <a href="javascript:void(0)" onclick=vfw.map.func.drawOnMapMenu(this); id="draw_toggle_plus" class="hover-white" title={{ Open }}
      ><i class="map_icon fa fa-plus-square-o fa-fw"></i></a>
  </div>
	<div class="w3-center" id="drawfilter" style="display:none">
    {% trans "Click&#32on&#32map&#32to&#32define&#32outlet&#32of&#32catchment&#32to&#32draw." as Draw_catchment %}
    {% trans "Click&#32on&#32map&#32to&#32draw&#32a&#32square.&#32Doubleclick&#32to&#32stop&#32drawing." as Draw_square %}
    {% trans "Click&#32on&#32map&#32to&#32draw&#32a&#32polygon.&#32Doubleclick&#32to&#32stop&#32drawing." as Draw_poly %}
    {% trans "Edit&#32drawing" as Edit %}
    {% trans "Store&#32drawing&#32and&#32make&#32it&#32reusable&#32on&#32the&#32map&#32and&#32in&#32the&#32workspace&#32for&#32this&#32session." as Store %}
    {% trans "Remove&#32drawing" as Remove %}
    {% trans "Close&#32drawing&#32panel&#32and&#32reactivate&#32doubleclick&#32zoom." as Close %}
    <a href="javascript:void(0)" onclick=vfw.map.func.toggleDrawBackground(this); id="draw_close" class="hover-white"
       title={{ Close }}><i class="map_icon fa fa-minus-square-o fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=vfw.map.func.toggleDrawBackground(this); id="draw_catchment" class="draw-hover"
       title={{ Draw_catchment }} value="Catchment"><i class="map_icon fa fa-hand-pointer-o fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=vfw.map.func.toggleDrawBackground(this); id="draw_square" class="draw-hover"
       title={{ Draw_square }} value="Square"><i class="map_icon fa fa-square-o fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=vfw.map.func.toggleDrawBackground(this); id="draw_polygon" class="draw-hover"
       title={{ Draw_poly }} value="Polygon"><i class="map_icon fa fa-pencil fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=vfw.map.func.toggleDrawBackground(this); id="modify_polygon" class="draw-hover"
       title={{ Edit }}><i class="map_icon fa fa-edit fa-fw"></i></a>
    <a href="javascript:void(0)" id="store_polygon" class="draw-hover"
       title={{ Store }}><i class="map_icon fa fa-shopping-cart fa-fw"></i></a>
    <a href="javascript:void(0)" onclick=vfw.map.func.toggleDrawBackground(this); id="remove_polygon" class="draw-hover"
       title={{ Remove }}><i class="map_icon fa fa-trash fa-fw"></i></a>
	</div>

</body>


<script>
   function isStorageSupported(globalObject, storageType) {
   try {
      let storage = globalObject[storageType];
      storage.setItem("test", "test");
      storage.removeItem("test");
      return true;
 } catch (err) {
   return false;
 }
}
if (!isStorageSupported(window, "localStorage")) {
  alert("You might experience problems on this webside. " +
    "This might be due to your browser in general (we recommend Google Chrome), due to a " +
    "private (incognito) mode, Android apps that use WebView, or you might have turned off JavaScript.");
}

 /**
  * Adds event listeners to the menu buttons in the VFW application map. Only used on load of page.
  */
vfw.map.html.menuButtonsListeners = function () {
  /** add clickEvent to close button */
  let closst = document.getElementById('draw_close');
  closst.addEventListener('click', function () {
    vfw.map.func.removeDrawInteractions()
    vfw.map.func.toggleDrawFilter()
  });
  /** add clickEvent to auto-draw catchment button */
  let drwcatch = document.getElementById('draw_catchment');
  drwcatch.addEventListener('click', function () {
    vfw.map.func.removeDrawInteractions();
    vfw.map.olmap.addInteraction(vfw.map.control.drawCatchmentOutlet);
    /* Deactivate select and delete any existing polygons.
            Only one polygon drawn at a time. */
  });
  /** add clickEvent to draw square button */
  let drwsqrst = document.getElementById('draw_square');
  drwsqrst.addEventListener('click', function () {
    vfw.map.func.removeDrawInteractions();
    vfw.map.olmap.addInteraction(vfw.map.control.drawSquare);
    /* Deactivate select and delete any existing polygons.
            Only one polygon drawn at a time. */
  });
  /** add clickEvent to draw polygon button */
  let drwst = document.getElementById('draw_polygon');
  drwst.addEventListener('click', function () {
    vfw.map.func.removeDrawInteractions()
    vfw.map.olmap.addInteraction(vfw.map.control.draw);
  });
  /** add clickEvent to modify button */
  let modst = document.getElementById('modify_polygon');
  modst.addEventListener('click', function () {
    vfw.map.func.removeDrawInteractions()
    vfw.map.olmap.addInteraction(vfw.map.control.modify);
  });
  /** add clickEvent to "store in data store" button */
  let storst = document.getElementById('store_polygon');
  storst.addEventListener('click', function () {
    vfw.map.func.removeDrawInteractions()
    const baseName = 'Map drawing';
    // find used names for map drawings
    let usedNames = new Set();
    for (const [key, value] of Object.entries(vfw.datasets.selectObjects)) {
      usedNames.add(value.name)
    }
    // loop used names until finding a new (unique) name
    let newName = baseName;
    for (let i = 1; usedNames.has(newName); i++) {
      newName = `${baseName} ${i}`;
    }
    vfw.sidebar.addSelectStoreButton({'name': newName});
    {#vfw.map.olmap.addInteraction(modify);#}
  });
  /** add clickEvent to remove button */
  let delst = document.getElementById('remove_polygon');
  delst.addEventListener('click', function () {
    vfw.map.func.resetDraw();
  });
}
vfw.map.html.menuButtonsListeners();
</script>
