<!--
Project Name: V-FOR-WaTer
Author: Marcus Strobl
Contributors:
License: MIT License
-->

{#<!DOCTYPE html>#}
{#<html lang="en">#}
<meta charset="UTF-8">
{# Used for the data preview when clicked on a point on the map #}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load static %}

<head>
  <meta charset="UTF-8">
</head>
<body>
<div id="mapModal" class="w3-modal" style="background-color: rgba(0,0,0,0.2)">

  <!-- Modal content -->
  <div class="w3-modal-content modal-body">
    <div class="modal-header" id="modal-map-header">
    </div>

    <div id="infomodal_paginationTable">
      {% include 'vfw_home/mapmodal_entrieslist.html' %}
    </div>
    <div class="modal-footer" id="modal-map-footer">
      <span-b class="modal-back" onclick="vfw.map.closeMapModal()">{% trans "Close" %}</span-b>
      <h3></h3>
    </div>
  </div>

</div>
</body>
<script>
  vfw.map.html.mapModal = document.getElementById("mapModal");

  /**
   * Close the map modal
   * */
  vfw.map.closeMapModal = function () {
    document.getElementById('infomodal_paginationTable').style.display = "none";
    vfw.map.html.mapModal.style.display = "none";
  }

</script>

