<!--
Project Name: V-FOR-WaTer
Author: Jörg Meyer
Contributors: Marcus Strobl
License: MIT License
-->

<meta charset="UTF-8">

{% extends "vfw_home/base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}

  <!DOCTYPE html>
  <html lang="en">
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
  {% load static %}

  <head>
    <meta charset="UTF-8">
  </head>
  <body>
  {{ div | safe }}
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="width:50%;">
      <h1>Privacy Policy for the V-FOR-WaTer Service</h1>
        <p>The virual research environment V-FOR-WaTer can be accessed via the portal: <a href="{% url 'vfw_home:home' %}">{{ VFW_SERVER }}</a>. </p>
        <h2>1. Personal Data</h2>

        If you use the service of V-FOR-WaTer, we will process your personal data. According to Art. 4 No. 1 of the EU General Data Protection Regulation (GDPR), personal data are all data relating to an identified or identifiable natural person.

        <h2> 2. Controller</h2>
        Controller of the data processing on this website according to Art. 4, par. 7 GDPR as well as other data protection regulations:<br>


        <ul style="list-style-type:none;">
            <li> Karlsruhe Institute of Technology (KIT)</li>
            <li>  Kaiserstraße 12</li>
            <li>76131 Karlsruhe</li>
            <li> Germany</li>
            <li>Phone: +49 721 608-0</li>
            <li>  Fax: +49 721 608-44290</li>
            <li>
                E-mail: info@kit.edu</li>
          </ul>

        The Karlsruhe Institute of Technology is a corporation governed by public law, represented by its president Prof. Dr. Jan S. Hesthaven. <br>
        Our Data Protection Officer can be contacted at <a href="mailto:datenschutzbeauftragter@kit.edu">datenschutzbeauftragter@kit.edu</a> or by ordinary mail with “Die Datenschutzbeauftragte” (the data protection officer) being indicated on the envelope.

        <h2>3. Data Processing</h2>
        When you login to the service, we collect the following personal data from your remote identity provider (Helmholtz Authentication and Authorisation Infrastructure):
<br>

        <ul>
            <li>email address</li>
            <li>full name</li>
            <li>user unique identifier</li>
	    <li>username</li>
            <li>last login</li>
	    <li>accepted user policies</li>
            <li>date of registration</li>
        </ul>

        In addition the service automatically collects the following log information, for example: IP address, computer type, screen resolution, OS version, domain name, location, date and time of the visit, page(s) visited, time spent on a page. Some of this information is provided directly by the user's browser, the remainder is obtained through cookies and tracking technologies.

        In case you upload data the association between you and your datasets is stored.

        The personal data retrieved from the external identity provider is necessary to map you to the V-FOR-WaTer account, contact you and provide a comfortable interface. Your name and email address is only visibe to the V-FOR-WaTer team in order to process your requests.<br>
        When you log in to the service we store a cookie on your device. Cookies are small text files stored in your computer system by the browser used by you, through which we (the server of our website) obtain certain information. Cookies cannot execute any programs or transmit viruses to your computer. They serve to make internet offers more user-friendly, more effective, and quicker. It is distinguished between session cookies (transient cookies) and permanent (persistent) cookies.<br>
        Transient cookies are deleted automatically when you close the browser. They include in particular the session cookies. These store a so-called session ID, through which queries of your browser can be allocated to the joint session. They allow us to identify your computer when you return to our website. Session cookies are deleted when you log out or close the browser.<br>
        We use session cookies exclusively. We do not use any persistent cookies or flash cookies.<br>
        You can set your browser such that you will be informed about the setting of cookies and you can permit cookies in individual cases only, exclude the acceptance of cookies in certain cases or in general, and activate automatic deletion of cookies when closing your browser. When deactivating cookies, functionality of this website may be limited.

        <h2>4. Legal Basis</h2>
        The legal basis for the processing is Art. 6, par. 1, clause 1, (b), clause 3, (b) GDPR in conjunction with Section 4 Landesdatenschutzgesetz Baden-Württemberg (State data protection act of the state of Baden-Württemberg).<br>
        The legal basis for the information you provide voluntarily is your consent in accordance with Art. 6, par. 1, clause 1, (a) GDPR. The consent is voluntary. There are no disadvantages if it is denied or withdrawn.

        <h2>5. Data Storage</h2>
        Your personal data will be stored at the Data Controller's site for as long as necessary to provide the service and there are statutory storage requirements. After expiry of the statutory retention periods your data will be deleted unless you have expressly consented to any further use of the data. In general, the data is deleted after one month.

	<h2>6. Scientific data submission via the website</h2>
	The website of V-FOR-WaTer contains a web application to submit scientific datasets to be stored in the V-FOR-WaTer database. During upload of datasets, the personal data transmitted by the data uploader are automatically stored. Such personal data are stored for the purpose of processing or contacting the data owner.<br>
	To successfully submit scientific datasets to V-FOR-WaTer, the data uploader has to provide some additional personal data (e.g., name of authors and co-authors) to allow correct citation of those datasets in the scientific community. This information will be made available to the public after the submission process through dataset metadata (in XML or JSON format and via the V-FOR-WaTer website). This is a requirement of scientific publishing. Scientific data publications including the aforementioned personal data may be consumed by third parties (e.g., libraries, data portals) using V-FOR-WaTer's metadata and data services.<br>
	By submitting scientific data to V-FOR-WaTer, the data uploader agrees with publishing those datasets in the public interest, for scientific or historical research purposes or for statistical purposes according to Art. 9(2) lit. j GDPR and Art. 89 GDPR.

        <h2>7. Your Rights</h2>
        Personal data can be accessed and reviewed in your account settings. To rectify the data released by V-FOR-WaTer, please update them at V-FOR-WaTer portal.<br>
        To request an account deletion, please contact the V-FOR-WaTer Team under <a href="mailto:info@vforwater.de">info@vforwater.de</a> and provide your email address and your full name.<br>
        According to Art. 7 par. 3 GDPR you have the right to withdraw your consent at any time with effect for the future. The withdrawal may also refer to parts of your consent.<br>
        In Addition you have the following rights:
        <ul>
               <li>Right of access (Article 15 GDPR)</li>
               <li>Right to rectification (Article 16 GDPR)</li>
                <li>Right to erasure (Article 17 GDPR)</li>
                <li>Right to restriction of processing (Article 18 GDPR)</li>
               <li>Right to object to data processing (Article 21 GDPR)</li>

        </ul>
        You have the right to complain about the processing of your personal data by us with a supervisory authority (Art. 77 GDPR).<br>
        In the case of manifestly unfounded or excessive requests, we can charge a reasonable fee. Otherwise, information will be provided free of charge (Art. 12, par. 5 GDPR).<br>
        In the case of reasonable doubts concerning the identity of the natural person asserting the above rights, we may request the provision of additional information necessary to confirm the identity of the data subject (Art. 12, par. 6 GDPR).
        <br>
        <br>
    </div>
  </div>
  </body>


  </html>


{% endblock %}
