{% extends "vfwheron/base.html" %}

{% block sidebar %} 
	{% include 'vfwheron/static_sidebar.html' %} 
{% endblock sidebar %}

{% block title %}- Heron Monitor{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Monitor</h1>
    <p>Diese Seite befindet sich noch im Aufbau</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4>Verknüpfung zur Prozessüberwachung</h4>

    <p>Bisher ist noch keine Prozessüberwachung verfügbar.</p>

  </div>
</div>
{% endblock %}