{#{% extends "wps_workflow/base.html" %}#}
{% extends "vfwheron/base.html" %}

{% load static %}

{% block head %}
    <title>Index</title>
{% endblock %}

{% block top %}
    <!-- <img src="{% static 'polls/images/banner.jpg' %}" /> -->
{% endblock %}

{% block leftnav %}

{% endblock %}

{% block content %}
    <h1>index site</h1>
    <p>this is the index site. <br> every module will be linked here</p>
{% endblock %}

{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="{% static 'styles.9626d1ce2c632c7fa27a.bundle.css' %}" rel="stylesheet"/>
</head>

<body>
<app-root></app-root>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations-next.min.js"></script>
<script type="text/javascript" src="{% static 'inline.83e61e9b98515a97cc20.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'polyfills.ad37cd45a71cb38eee76.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'main.0713e72f161502003ff4.bundle.js' %}"></script>
</body>

</html>

