/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.popup {
    position: absolute;
    background-color: rgb(239, 251, 251);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    /*min-width: 280px;*/
}

/* more styling at the end of ol.css */
iframe {
    margin-top: 20px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

    font-family: Raleway, Arial, sans-serif;
}


.modal-back {
    color: black;
    float: right;
    font-size: 20px;
    padding: 4px 12px;
    /*font-weight: bold;*/
}

.modal-back:hover,
.modal-back:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 12px;
    background-color: rgb(239, 251, 251);
    color: black;
}

.modal-body.modal-body {
    /*padding: 2px 16px;*/
    width: fit-content;
}

.modal-footer {
    height: 38px;
    padding: 2px 12px;
    background-color: rgb(239, 251, 251);
    color: black;
}


/*styles for Toolbox buttons*/
/*!**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 *!
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  !* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons *!
  cursor: pointer;
}*/

.process {
  /*height: 50px;*/
  /*width: 350px;*/
  /*background-color: blue;*/
  /*display: inline-block;*/
}
.string,.array,.pickle,.timeseries,
.ts-array, .ts-pickle, .ts-aggregate {
    margin: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 9pt;
    color: black;
  /*display: inline-block;*/
  /*  display: flex;*/
  /*align-items: center;*/
}
/*.array::before{content: "A";}
.timeseries::before{content: "T";}
.ts-array::before{content: "TA";}
.ts-pickle::before{content: "TP";}
.ts-aggregate::before{content: "TAr";}
.string::before{content: "S";}
.pickle::before{content: "P";}*/
/*
11 colorblind safe colors from http://colorbrewer2.org/#type=diverging&scheme=RdYlBu&n=11
 */
.array{background-color:rgb(165,0,38); content: "AR";}
.timeseries{background-color:rgb(215,48,39)}
.ts-array{background-color:rgb(244,109,67)}
.ts-pickle{background-color:rgb(253,174,97)}
.ts-aggregate{background-color:rgb(254,224,144)}
.string{background-color:rgb(255,255,191); border: 1px solid darkorange;}
.pickle{background-color:rgb(224,243,248); border: 1px solid darkturquoise;}
.q7-11{background-color:rgb(171,217,233)}
.q8-11{background-color:rgb(116,173,209)}
.q9-11{background-color:rgb(69,117,180)}
.q10-11{background-color:rgb(49,54,149)}


