/*
Project Name: V-FOR-WaTer
Author: Marcus Strobl
Contributors:
License: MIT License
*/

div.map {
    height: 88%;
    width: 100%;
}

.popup {
    position: absolute;
    background-color: rgb(239, 251, 251);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

/**
* styles for the custom buttons on the map
*/
.custom-control {
      top: 0.5em;
    left: 2.9em;
    position: absolute;
}
.custom-control button {
    position: absolute;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
    padding: 4px
}

.request-button {
    background-color: darkred;
}

.store-button {
    background-color: darkgreen;
}

.ol-attribution {
    font-size: x-small;
}


#drawfilter {
border-radius: 4px;
padding: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#draw_polygon, #modify_polygon, #draw_square, #remove_polygon, #draw_catchment, #store_polygon {
    width: 6px;
    height: 6px;
    color:#666666;
    border-radius: 1px;
    padding: 2px;
    background: white;
}
.draw-hover:hover{
    background: rgba(208, 208, 208, 0.9) !important;
}
#draw_toggle, #closed_drawfilter {
    border-radius: 4px;
    padding: 3px;
}
.hover-white{
    background:white;
}
.hover-white:hover{
    background: rgba(208, 208, 208, 0.9);
}

/**
* The zoomslider shall be placed between the zoom-in and zoom-out buttons.
*/
#map .ol-zoom .ol-zoom-out {
}
