.settings-page {
	padding: 21px 0;
}

.wps-title {

}

.wps-site {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.38);
}

.box-left {
	margin-right: 13px;
}

.refresh {
	width: 100%;
	margin-bottom: 8px;
}

.add {
	margin: 0 21px;
}