{% load static %}<!DOCTYPE html>

<html>
<head>
	<title>VFORWaTer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/respostyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/ol.css' %}">
	<link rel="icon" href="{% static 'vfwheron/images/Favicon.ico' %}">

	<!--  style of top bar -->
	<!-- TODO: Do we access the font Raleway online? For more see base_app/vcss/css -->
	<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	.respo-navbar li a {padding-top: 22px; padding-bottom: 14px;}
	.respo-navbar {padding-left: 300px; margin-top: 42px; height: 61px;} 
	#filterbox,#select_catchment {display: none;}
	
	</style>
</head>
<param id="workdata" value ="{{ workspaceData }}"></param> <!-- param to bridge data from view to js  -->

<body class="respo-light-grey" >

<!--    Top container -->
	<div class="respo-container respo-top respo-black respo-large respo-padding" style="z-index:4">
	  <button class="respo-btn respo-hide-large respo-padding-0 respo-hover-text-grey" onclick="respo_open();"><i class="fa fa-bars"></i></button>
	  <span class="respo-right"><strong>Virtuelle Forschungsumgebung für die Wasser- und terrestrische Umweltforschung</strong></span>
	</div>

<!--	Navbar -->
	<div class="respo-top">
	  <ul class="respo-navbar respo-light-turquoise respo-top respo-left-align respo-large">
	    <li class="respo-opennav respo-right respo-hide-large"><a href="javascript:void(0)" class="respo-hover-white respo-large respo-theme-d4" onclick="Sidemenu_open()"><i class="fa fa-bars"></i></a></li>
	    <li class="respo-hide-small"><a href="{% url 'vfwheron:home' %}" class="respo-hover-white"><i class="fa fa-home fa-fw"></i>  Startseite</a></li>
        <li class="respo-hide-small"><a href="{% url 'heron_wps:home' %}" class="respo-hover-white"><i class="fa fa-wrench fa-fw"></i>  Arbeitsplatz</a></li>
	    <li class="respo-hide-small"><a href="{% url 'heron_monitor:home' %}" class="respo-hover-white"><i class="fa fa-eye fa-fw"></i>  Monitor</a></li>
	    <li class="respo-hide-small"><a href="{% url 'heron_visual:home' %}" class="respo-hover-white"><i class="fa fa-bar-chart fa-fw"></i>  Visualisierung</a></li>
	    <li class="respo-hide-small"><a href="{% url 'vfwheron:external_links' %}" class="respo-hover-white"><i class="fa fa-external-link fa-fw"></i>  Externe Links</a></li>
	    <li class="respo-hide-small"><a href="{% url 'vfwheron:help' %}" class="respo-hover-white"><i class="fa fa-book fa-fw"></i>  Hilfe</a></li>
{#	    <li class="respo-hide-small"><a href="{% url 'heron_upload:home' %}" class="respo-hover-white"><i class="fa fa-upload fa-fw"></i>  Upload</a></li>#}
<!--	    <li class="respo-hide-small"><a href="#" onclick="search_open()" id="srch_box" class="respo-hover-white"><i class="fa fa-search fa-fw"></i>  Suche</a></li>
	    <li class="respo-hide-small"><a id="srch_but" class="respo-hover-none"></a></li>
	    <li class="respo-hide-small"><a id="srch_close_but" class="respo-hover-none"></a></li>   -->
        {% if user.is_authenticated %}
          <li class="respo-hide-small respo-right">
            <a href="#" class="respo-hover-white">
              <form action="{% url 'vfwheron:logout' %}" method="post"> {% csrf_token %}
                <input class="respo-btn-simple" type="submit" name="logout" value="Sign Out" />
              </form>
            </a>
          </li>
          <li class="respo-hide-small respo-right">
            <a class='respo-hover-none'><i class="fa fa-user fa-fw"></i> Hallo,
              {% if user.first_name %}
                {{ user.first_name }}
              {% else %}
                {{ user.username }}
              {% endif %}
            </a>
          </li>
        {% else %}
<!--          <li class="respo-hide-small respo-right"><a href="{% url 'vfwheron:login' %}" class="respo-hover-white"><i class="fa fa-user fa-fw"></i> Anmelden</a></li> -->
          <li class="respo-hide-small respo-right"><a href="{% url 'vfwheron:watts_login' %}" class="respo-hover-white"><i class="fa fa-user fa-fw"></i> Anmelden</a></li>
        {% endif %}
	  </ul>
	</div>
	
	{% block sidebar %}
	{% endblock %}	
		
	{% block sidemenu %}
		{% include 'vfwheron/sidemenu.html' %}
	{% endblock %}

<!-- 	!PAGE CONTENT! -->
	<div class="respo-main" style="margin-left:300px;margin-top:103px;">
	{# get map in the content block #}
	{% block content %}{% endblock %} 
	  
	<footer class="respo-container respo-padding-16 respo-light-grey">
	 <p style="text-align:center">Powered by <a href="http://www.vforwater.de" target="_blank">VFORWaTer</a> | Copyright &copy; 2016-2018</p>
	</footer>
	  
	</div>
</body>
</html>
