{% load static %}

<html>
<title>VFORWaTer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/respostyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/ol.css' %}">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.respo-navbar li a {padding-top: 64px; padding-bottom: 12px;}
.respo-navbar {padding-left: 300px;}
#filterbox,#select_catchment {display: none;}
</style>

<body class="respo-light-grey" >

    Top container
	<div class="respo-container respo-top respo-black respo-large respo-padding" style="z-index:4">
	  <button class="respo-btn respo-hide-large respo-padding-0 respo-hover-text-grey" onclick="respo_open();"><i class="fa fa-bars"></i>  Menu</button>
	  <span class="respo-right"><strong>Virtual research environment for water and terrestrial environmental research</strong></span>
	</div>
	
	Navbar
	<div class="respo-top">
	  <ul class="respo-navbar respo-light-turquoise respo-top respo-left-align respo-large">
	    <li class="respo-opennav respo-right respo-hide-large">
	      <a class="respo-hover-white respo-large respo-theme-d4" href="javascript:void(0)" onclick="respo_open()"><i class="fa fa-bars"></i></a>
	    </li>
	    <li class="respo-hide-small"><a href="{% url 'vfwheron:home' %}" class="respo-hover-white"><i class="fa fa-home fa-fw"></i>  Home</a></li>    <li class="respo-hide-small"><a href="{% url 'heron_wps:home' %}" class="respo-hover-white"><i class="fa fa-wrench fa-fw"></i>  Workbench</a></li>
	    <li class="respo-hide-small"><a href="{% url 'heron_monitor:home' %}" class="respo-hover-white"><i class="fa fa-eye fa-fw"></i>  Monitor</a></li>
	    <li class="respo-hide-small"><a href="{% url 'heron_wps:home' %}" class="respo-hover-white"><i class="fa fa-bar-chart fa-fw"></i>  Visualisation</a></li>
	    <li class="respo-hide-small"><a href="{% url 'vfwheron:external_links' %}" class="respo-hover-white"><i class="fa fa-external-link fa-fw"></i>  External Links</a></li>
	    <li class="respo-hide-small"><a href="#" class="respo-hover-white"><i class="fa fa-book fa-fw"></i>  Help</a></li>
	    <li class="respo-hide-small"><a href="#" onclick="search_open()" id="srch_box" class="respo-hover-white"><i class="fa fa-search fa-fw"></i>  Search</a></li>
	    <li class="respo-hide-small"><a id="srch_but" class="respo-hover-none"></a></li>
	    <li class="respo-hide-small"><a id="srch_close_but" class="respo-hover-none"></a></li>
        {% if user.is_authenticated %}
          <li class="respo-hide-small respo-right">
            <a href="#" class="respo-hover-white">
              <form action="{% url 'vfwheron:logout' %}" method="post"> {% csrf_token %}
                <input class="respo-btn-simple" type="submit" name="logout" value="Sign Out" />
              </form>
            </a>
          </li>
          <li class="respo-hide-small respo-right">
            <a class='respo-hover-none'><i class="fa fa-user fa-fw"></i> Hello,
              {% if user.first_name %}
                {{ user.first_name }}
              {% else %}
                {{ user.username }}
              {% endif %}
            </a>
          </li>
        {% else %}
          <li class="respo-hide-small respo-right"><a href="{% url 'vfwheron:login' %}" class="respo-hover-white"><i class="fa fa-user fa-fw"></i> Sign in</a></li>
        {% endif %}
	  </ul>
	</div>
	
	Sidenav/menu
	<nav class="respo-sidenav respo-collapse respo-white respo-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br><br>
	  <div class="respo-container respo-row">
	    <div class="respo-col s4">
	      <img src="{% static 'vfwheron/images/logo_main.png' %}" style="width:200px"><br>
	    </div>
	  </div>
	  <a href="#" class="respo-padding-8 respo-hide-large respo-dark-grey respo-hover-black" onclick="respo_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
	  <hr style="margin-bottom:0px;">

  	{% block data %} 
	  {% include 'vfwheron/select_data.html' %} 
	{% endblock  %}
	
	  <hr style="margin-bottom:0px;">	
	  
  	{% block process %} 
	  {% include 'vfwheron/select_process.html' %} 
	{% endblock  %}
	  
	  <hr style="margin-bottom:0px;">
	  
	  <div class="respo-container respo-light-turquoise">
	    <b>Visualization</b>
	  </div>
	  <a href="#" class="respo-padding respo-hover-blue"><i class="fa fa-bullseye fa-fw"></i>  Map Viewer</a>
	  <a href="#" class="respo-padding respo-hover-blue"><i class="fa fa-line-chart fa-fw"></i>  Time Series</a>
	  <a href="#" class="respo-padding respo-hover-blue"><i class="fa fa-bar-chart fa-fw"></i>  Scatter Plot</a>
	  <a href="#" class="respo-padding respo-hover-blue"><i class="fa fa-table fa-fw"></i>  Statistical Report</a>
	  <hr style="margin-bottom:0px;">
	  <div class="respo-container respo-light-turquoise">
	    <b>Workspace</b>
	  </div>
	  <ul class="respo-ul respo-card-4 respo-white" id="workspace">
	  </ul>
	</nav>

	Overlay effect when opening sidenav on small screens
	<div class="respo-overlay respo-hide-large respo-animate-opacity" onclick="respo_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
	
	!PAGE CONTENT!
	<div class="respo-main" style="margin-left:300px;margin-top:103px;">
	{# get map in the content block #}
	{% block content %}{% endblock %} 
	  
	<footer class="respo-container respo-padding-16 respo-light-grey">
	 <input type="button" onclick="toggleLayer(vectormap)" value="Toggle Visibility of Basiseinzugsgebiete">&emsp;
	 <p style="text-align:center">Powered by <a href="http://www.vforwater.de" target="_blank">VFORWaTer</a> | Copyright &copy; 2016-2018</p>
	</footer>
	  
	</div>
</body>
</html>
