{% load static %}
<!--  ol.css is OpenLayers which is to render geo data in a webbrowser -->
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div id="entries" class="entries">

{#	<style>div.entries {height: 80%; width: 100%;}</style>#}

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Variable</th>
  </tr>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.title }}</td>
      <td>{{ entry.abstract }}</td>
      <td>{{ entry.variable }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if entries.has_other_pages %}
  <ul class="pagination">
    {% if entries.has_previous %}
      <a onclick="filter_pagination(1)">&#9474;&#8882;</a>
      <a onclick="filter_pagination({{ entries.previous_page_number }})">&#8882;</a>
    {% else %}
      <a class="disabled"><span>&#9474;&#8882;</span></a>
      <a class="disabled"><span>&#8882;</span></a>
    {% endif %}
    {% for i in entries.paginator.page_range %}
      {% if entries.number == i %}
        <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
      {% else %}
        <a onclick="filter_pagination({{ i }})">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if entries.has_next %}
      <a onclick="filter_pagination({{ entries.next_page_number }})">&#8883;</a>
      <a onclick="filter_pagination({{ entries.paginator.num_pages }})">&#8883;&#9474;</a>
    {% else %}
      <a class="disabled"><span>&#8883;</span></a>
      <a class="disabled"><span>&#8883;&#9474;</span></a>
    {% endif %}
  </ul>
{% endif %}
</div>
