{% extends "vfwheron/base.html" %}

{% block sidebar %} 
	{% include 'vfwheron/static_side.html' %} 
{% endblock sidebar %}

{% block content %}
<header class="respo-container" style="padding-top:22px">
  <h5><b>External Links</b></h5>
</header>

<div class="respo-container respo-white respo-padding-16 respo-margin-bottom respo-margin-left respo-margin-right respo-justify">
  <div class="respo-row">
      <p>The virtual research environment for water and terrestrial environmental research (V-FOR-WaTer) in the framework of the Water Research Network Baden-Württemberg  is a generic virtual research environment for common and systematic management of data obtained from water and environmental research. This project also provides an access to the environmental monitoring measurments' data of LUBW and DWD through connecting the corresponding databases.</p><br>
  </div>
</div>

<div class="respo-row-padding respo-margin-bottom respo-center">  
 	<div class="respo-third">
 	 <a target="_blank" href="http://vforwater.de" style="text-decoration:none">
    <div class="respo-container respo-blue respo-padding-16 respo-third-n">
      <div class="respo-left"><i class="fa fa-sitemap respo-xxxlarge"></i></div>
      <div class="respo-clear"></div>
      <h4>Web Site</h4>
    </div>
   </a>
  </div>
  <div class="respo-third">
   <a target="_blank" href="https://vforwater-gis.scc.kit.edu/doc" style="text-decoration:none">
    <div class="respo-container respo-teal respo-padding-16 respo-third-n">
      <div class="respo-left"><i class="fa fa-book respo-xxxlarge"></i></div>
      <div class="respo-clear"></div>
      <h4>Documentation</h4>
    </div>
   </a>
  </div>
  <div class="respo-third">
   <a target="_blank" href="https://git.scc.kit.edu/vforwater/vforwater-portal" style="text-decoration:none">
    <div class="respo-container respo-orange respo-text-white respo-padding-16 respo-third-n">
      <div class="respo-left"><i class="fa fa-code respo-xxxlarge"></i></div>
      <div class="respo-clear"></div>
      <h4>Source Code</h4>
    </div>
   </a>
  </div>
</div>
{% endblock %}