{% for submenu in key %}
    {% for value2, key2 in submenu.items %}
        <!--<a href="{{ value3 }}">{{ value3 }}: {{ key }} </a>-->
        <a class="sub-menu respo-hover-aqua">{{ value2 }}</a>
        <!--<a class="sub-menu respo-hover-aqua" id="{{ value2 }}">{{ value2 }}</a>-->
        <ul class="sub-sub-menu">
        <!--<a id="{{ value3 }}" class="dropdown-content">{{ value3 }}</a>-->
            {% for value4, key3 in key2.items %}
                <a  id="{{ value2 }}">{{ value4 }} ({{ key3 }})</a>
            {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}