{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block javascript %}
{% endblock %}
<head>
    <script src="{% static 'vfwheron/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vfwheron/js/vfw.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/filter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/nouislider.css' %}">
{#    needed for accordion:  #}
    <script src="{% static 'vfwheron/js/jquery-ui.min.js' %}"></script>
    <script src="{%  static 'vfwheron/js/nouislider.min.js' %}"></script>

{#    TODO: Download the following files when you want to use : http://www.daterangepicker.com/#}
{#    Alternative evtl: http://amsul.ca/pickadate.js/time/#}
<!-- Include Date Range Picker -->
{#<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>#}
{#<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />#}
{#<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>#}
{#<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />#}
{#TODO: next three lines needed for range sliders. Can the other jquery removed?#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/jquery.mobile-1.4.5.min.css' %}">#}
{#    <script src="{% static 'vfwheron/js/jquery-1.11.3.min.js' %}"></script>#}
{#    <script src="{% static 'vfwheron/jquery.mobile-1.4.5.min.js' %}"></script>#}
</head>

<body>
    <div class="respo-container respo-light-turquoise">
        <b title="Please choose here the data shown on the map.">{%  trans "Filter menu" %}</b>
    </div>

{#    <div id="accordion"  > <!-- see vfw.js -->#}
{#        {% for main_menu in menu_list %}#}
{#            {% for key, value in main_menu.items %} <!--key: Boden, value: Geologie -->#}
{#                <h5 class="respo-hover-blue nav" value = "{{ key }}">{{ key }} </h5> <!-- onclick send value = {{key}} -->#}
{#                <div id="{{ key }}" >#}
{#                    <div id="subaccordion"  > <!-- see vfw.js -->#}
{#                        {% for key2, value2 in value.items %}#}
{#                            <a class="sub-menu respo-hover-blue">{{ key2 }}</a> <!--Geologie-->#}
{#                            <ul class="sub-sub-menu" >#}
{#                                {% for key3, value3 in value2.items %}#}
{#                                    <a  id="{{ key2 }}" >{{ key3 }} ({{ value3 }})</a>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% empty %}#}
{#            <option value="There is no open data available yet.">There is no open data available yet.</option>#}
{#            <option value="Please check VFORWaTer.de for more.">Please check VFORWaTer.de for more.</option>#}
{#            <option value="Please come back later.">Please come back later.</option>#}
{#            <option value="You find contact details on VFORWaTer.de.">You find contact details on VFORWaTer.de.</option>#}
{#        {% endfor %}#}
{#    </div>#}
{#    new accordion#}
    <div class="container">
    <div class="panel-group" id="accordion">
{#    <div class="accordion" id="jsMenu"></div>#}
    </div>
    </div>
    <!--<a><b><input id="delete_choice" class="respo-btn-simple respo-text-light-grey" type="submit" onclick="clear_selection_func()"
                 value="Lösche Auswahl" data-toggle="tooltip" title="Löscht die bisherige Auswahl"></b></a>-->
    <a><b><input id="show_data_on_map" class="respo-btn-simple" type="submit" onclick="onclick_show_datasets_func()"
                 value="Show selection on map" data-toggle="tooltip" title="Apply filter on metadata"></b></a>
</body>

<script>
{#TODO: Do I need this, or can I just use the csrftoken in vfw.js?#}
 csrf_token = '{{ csrf_token }}';
var jsonMenu = "{{ newMenu|escapejs }}";
</script>
