{% load static %}

{% block javascript %}
{% endblock %}
<head>
    <script src="{% static 'vfwheron/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vfwheron/js/vfw.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'vfwheron/vcss/jquery-ui.min.css' %}">
    <script src="{% static 'vfwheron/js/jquery-ui.min.js' %}"></script>

</head>

<body>
    <div class="respo-container respo-light-turquoise">
        <b>Database</b>
    </div>


    <div id="accordion"  >
        {% for main_menu in menu_list %}
            {% for value, key in main_menu.items %}
                <h5 class="respo-hover-blue nav" value = "{{ value }}">{{ value }}</h5>
                <div id="{{ value }}" >
                    <div id="subaccordion"  >
                        {% for submenu in key %}
                            {% for value2, key2 in submenu.items %}
                                <a class="sub-menu respo-hover-blue">{{ value2 }}</a>
                                <ul class="sub-sub-menu" >
                                    {% for value4, key3 in key2.items %}
                                        <a  id="{{ value2 }}" >{{ value4 }} ({{ key3 }})</a>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% empty %}
            <option value="When you see this">When you see this</option>
            <option value="something is wrong">something is wrong</option>
            <option value="please contact the admin">please contact the admin</option>
        {% endfor %}
    </div>
</body>

<script>
 url_home = '{% url 'vfwheron:menu' %}';
 csrf_token = '{{ csrf_token }}';
</script>
